@function size ($size) {
	@return ($size + 2) * 1px;
}

@mixin hello {
	$color: #FF00A2;

	color: $color;
	font-size: size(20);
}


.alt {
	&-header {
		@include hello;
	}
}

// .alt-header {
//   color: #FF00A2;
// }
